{% extends 'users/auth.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/users/reset_password.css' %}">

    <div class="password-reset-container">
        <img src="{% static 'images/myvideochat-logo.png' %}" alt="ShareBooks Logo" class="logo">

        <h2 class="reset-title">Password Reset Successful</h2>
        <p class="instruction">Your password has been set successfully. You can now log in with your new password.</p>

        <a href="{% url 'users:login' %}" class="login-btn">Sign in</a>
    </div>
    <script defer src="{% static 'js/users/reset_password.js' %}"></script>
{% endblock %}